<div class="notification-item thingy">
    <h3>{{name}}</h3>
    <div class="settings">
        {{#if supportsOnGrab}}
            {{#if onGrab}}
                <span class="label label-success">On grab</span>
            {{else}}
                <span class="label label-default">On grab</span>
            {{/if}}
        {{else}}
            <span class="label label-default label-disabled">On grab</span>
        {{/if}}

        {{#if supportsOnDownload}}
            {{#if onDownload}}
                <span class="label label-success">On download</span>
            {{else}}
                <span class="label label-default">On download</span>
            {{/if}}
        {{else}}
            <span class="label label-default label-disabled">On download</span>
        {{/if}}

        {{#if supportsOnUpgrade}}
            {{#if onUpgrade}}
                <span class="label label-success">On upgrade</span>
            {{else}}
                <span class="label label-default">On upgrade</span>
            {{/if}}
        {{else}}
            <span class="label label-default label-disabled">On upgrade</span>
        {{/if}}

        {{#if supportsOnRename}}
            {{#if onRename}}
                <span class="label label-success">On rename</span>
            {{else}}
                <span class="label label-default">On nename</span>
            {{/if}}
        {{else}}
            <span class="label label-default label-disabled">On rename</span>
        {{/if}}
    </div>
</div>
