<span class="series-info-links">
    {{#if tmdbId}}
        <a href="{{traktUrl}}" class="label label-primary">Trakt</a>
    {{/if}}
    {{#if tmdbId}}
        <a href="{{tmdbUrl}}" class="label label-primary">The Movie DB</a>
    {{/if}}
    {{#if imdbId}}
        <a href="{{imdbUrl}}" class="label label-primary">IMDB</a>
    {{/if}}
    {{#if website}}
        <a href="{{homepage}}" class="label label-primary">Homepage</a>
    {{/if}}
    {{#if youTubeTrailerId}}
        <a href="{{youTubeTrailerUrl}}" class="label label-primary">Trailer</a>
    {{/if}}
</span>
