<div class="series-item">
    <div class="row">
        <div class="col-md-2 col-xs-3">
            <a href="{{route}}">
                {{poster}}
            </a>
        </div>
        <div class="col-md-10 col-xs-9">
            <div class="row">
                <div class="col-md-10 col-xs-10">
                    <a href="artist/{{artistSlug}}" target="_blank">
                        <h2>{{artistName}}</h2>
                    </a>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="pull-right series-overview-list-actions">
                        <i class="icon-lidarr-refresh x-refresh" title="Update artist info and scan disk"/>
                        <i class="icon-lidarr-edit x-edit" title="Edit Artist"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-xs-12">
                    <div>
                    {{truncate overview 600}}
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
            <div class="row">
                <div class="col-md-10 col-xs-8">
                    <!--{{#if_eq status compare="ended"}}
                        <span class="label label-danger">Ended</span>
                    {{/if_eq}}-->

                    <!--
                    NOTE: We can show next drop date of album in future
                    {{#if nextAiring}}
                        <span class="label label-default">{{RelativeDate nextAiring}}</span>
                    {{/if}}-->

                    {{albumCountHelper}}

                    {{profile profileId}}
                </div>
                <div class="col-md-2 col-xs-4">
                    {{> EpisodeProgressPartial }}
                </div>
                <div class="col-md-8 col-xs-10">
                    Path {{path}}
                </div>
            </div>
        </div>
    </div>
</div>
