<div class="progress track-progress">
    <span class="progressbar-back-text">{{trackFileCount}} / {{trackCount}}</span>
    <div class="progress-bar {{TrackProgressClass}} track-progress" style="width:{{percentOfTracks}}%"><span class="progressbar-front-text">{{trackFileCount}} / {{trackCount}}</span></div>
</div>