<div class="movie-posters-item">
    <div class="center">
        <div class="movie-poster-container x-movie-poster-container">
            <div class="movie-controls x-movie-controls">
                <i class="icon-sonarr-refresh x-refresh" title="Refresh Movie"/>
                <i class="icon-sonarr-edit x-edit" title="Edit Movie"/>
            </div>
            {{GetBannerStatus}}
            <a href="{{route}}">
                {{poster}}
                <div class="center title">{{title}}</div>
            </a>
            <div class="hidden-title x-title">
                {{title}}
            </div>
        </div>
    </div>

    <div class="center">
        <div class="labels">
            <span class="label label-{{DownloadedStatusColor}}" title="{{DownloadedQuality}}">{{DownloadedStatus}}</span>
          <a href="{{traktUrl}}" class="label label-primary">Trakt</a>
          <a href="{{tmdbUrl}}" class="label label-primary">The Movie DB</a>

          {{#if imdbId}}
              <a href="{{imdbUrl}}" class="label label-primary">IMDB</a>
          {{/if}}

          {{#if website}}
            <a href="{{homepage}}" class="label label-primary">Homepage</a>
          {{/if}}

          {{#if youTubeTrailerId}}
              <a href="{{youTubeTrailerUrl}}" class="label label-primary">Trailer</a>
          {{/if}}
        </div>
    </div>
</div>
