<div class="modal-content">
		<div class="modal-header">
				<button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
				{{#if id}}
						<h3>Edit - {{implementationName}}</h3>
				{{else}}
						<h3>Add - {{implementationName}}</h3>
				{{/if}}
		</div>
		<div class="modal-body indexer-modal">
				<div class="form-horizontal">
						<div class="form-group">
								<label class="col-sm-3 control-label">Name</label>

								<div class="col-sm-5">
										<input type="text" name="name" class="form-control"/>
								</div>
						</div>

						<div class="form-group">
								<label class="col-sm-3 control-label">Enable Automatic Sync</label>

								<div class="col-sm-5">
										<div class="input-group">
												<label class="checkbox toggle well">
														<input type="checkbox" name="enableAuto" {{#if enableAuto}} checked="checked" {{/if}}  />
														<p>
																<span>Yes</span>
																<span>No</span>
														</p>

														<div class="btn btn-primary slide-button"></div>
												</label>

												<span class="help-inline-checkbox">
														<i class="icon-sonarr-form-warning" title="" data-original-title="New movies found by this list are automatically added to your collection."></i>
												</span>
										</div>
								</div>
						</div>

						<div class="form-group">
								<label class="col-sm-3 control-label">Add Movies Monitored</label>

								<div class="col-sm-5">
										<div class="input-group">
												<label class="checkbox toggle well">
														<input type="checkbox" name="shouldMonitor" {{#if shouldMonitor}} checked="checked" {{/if}}  />
														<p>
																<span>Yes</span>
																<span>No</span>
														</p>

														<div class="btn btn-primary slide-button"></div>
												</label>

												<span class="help-inline-checkbox">
														<i class="icon-sonarr-form-info" title="" data-original-title="If enabled, movies found by this list are added and monitored."></i>
												</span>
										</div>
								</div>
						</div>

                        <div class="form-group">
                                <label class="col-sm-3 control-label">Remove Movies from this List after Successful Download/Import</label>

                                <div class="col-sm-5">
                                        <div class="input-group">
                                                <label class="checkbox toggle well">
                                                        <input type="checkbox" name="shouldClean" {{#if shouldClean}} checked="checked" {{/if}}  />
                                                        <p>
                                                                <span>Yes</span>
                                                                <span>No</span>
                                                        </p>

                                                        <div class="btn btn-primary slide-button"></div>
                                                </label>

                                                <span class="help-inline-checkbox">
                                                        <i class="icon-sonarr-form-info" title="" data-original-title="If enabled, movies will be removed from this list upon successful Download/Import (Only works for Trakt Custom List)"></i>
                                                </span>
                                        </div>
                                </div>
                        </div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Minimum Availability</label>

							<div class="col-sm-5">
								<select class="form-control x-minimumavailability" name="minimumAvailability">
									<option value="announced">Announced</option>
									<option value="inCinemas">In Cinemas</option>
									<option value="released">Physical/Web</option>
									<option value="preDB">PreDB</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Quality Profile</label>

							<div class="col-sm-5">
								<select class="form-control x-profile" id="inputProfile" name="profileId">
                                {{#each profiles}}
                                	<option value="{{id}}">{{name}}</option>
                                {{/each}}
                            	</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Folder</label>

							<div class="col-sm-5">
								<select class="col-md-4 form-control x-root-folder" name="rootFolderPath">
								    {{#if rootFolders}}
									    {{#each rootFolders}}
									    	<option value="{{id}}">{{path}}</option>
									    {{/each}}
									{{else}}
									    <option value="">Select Path</option>
								    {{/if}}
								</select>
							</div>
						</div>

						{{formBuilder}}
				</div>
		</div>
		<div class="modal-footer">
				{{#if id}}
						<button class="btn btn-danger pull-left x-delete">Delete</button>
				{{else}}
						<button class="btn pull-left x-back">Back</button>
				{{/if}}
				<span class="indicator x-indicator"><i class="icon-sonarr-spinner fa-spin"></i></span>
				<button class="btn x-test">test <i class="x-test-icon icon-sonarr-test"/></button>
				<button class="btn" data-dismiss="modal">Cancel</button>

				<div class="btn-group">
						<button class="btn btn-primary x-save">Save</button>
						<button class="btn btn-icon-only btn-primary dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
								<li class="save-and-add x-save-and-add">
										save and add
								</li>
						</ul>
				</div>
		</div>
</div>
