<div class="event">
    <div class="date {{StatusLevel}}">
        <h1>{{Day releaseDate}}</h1>
        <h4>{{Month releaseDate}}</h4>
    </div>
    {{#with artist}}
    <a href="{{route}}">
        <h4>{{name}}</h4>
    </a>
    {{/with}}
    <p>{{#unless_today releaseDate}}{{ShortDate releaseDate}}{{/unless_today}}</p>
    <p>
        <span class="album-title x-album-title">
            {{title}}
        </span>
        <span class="pull-right">x</span>
    </p>
</div>
