<div class="event">
    <div class="date {{StatusLevel}}">
        {{#if_eq status compare="announced"}}
            <h1>{{Day inCinemas}}</h1>
            <h4>{{Month inCinemas}}</h4>
        {{else}}
            <h1>{{Day physicalRelease}}</h1>
            <h4>{{Month physicalRelease}}</h4>
        {{/if_eq}}
    </div>
 
    <a href="{{route}}">
        <h4>{{title}}</h4>
    </a>
</div>
