<div class="search-item {{#unless isExisting}}search-item-new{{/unless}}">
    <div class="row">
        <div class="col-md-2">
            <a href="{{tmdbUrl}}" target="_blank">
              {{#if remotePoster}}
                {{remotePoster}}
              {{else}}
                {{poster}}
              {{/if}}
            </a>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="movies-title">
                        {{titleWithYear}}

                        <span class="labels">
                            <span class="label label-default">{{network}}</span>
                            {{#if_eq status compare="announced"}}
                                <span class="label label-default">Announced</span>
                            {{/if_eq}}
                            {{#if_eq status compare="released"}}
                                <span class="label label-success">Released</span>
                            {{/if_eq}}
                            {{#if_eq status compare="inCinemas"}}
                                <span class="label label-warning">In Cinemas</span>
                            {{/if_eq}}
                            <span class="label label-default" title="{{ratings.votes}} Vote(s)">{{ratings.value}}</span>

                            {{#if youTubeTrailerId}}
                            <span class="label label-info"><a href="{{youTubeTrailerUrl}}" style="color: white;">Trailer</a></span>
                            {{/if}}

                            {{#if physicalRelease}}
                            <span class="label label-info" title="{{physicalReleaseNote}}">{{inCinemas}}</span>
                            {{/if}}
                        </span>


                    </h2>
                </div>
            </div>
            <div class="row new-movies-overview x-overview">
                <div class="col-md-12 overview-internal">
                    {{overview}}
                </div>
            </div>
            <div class="row">
                {{#unless existing}}
                    {{#unless path}}
                        <div class="form-group col-md-4">
                            <label>Path</label>
                            {{> RootFolderSelectionPartial rootFolders}}
                        </div>
                    {{/unless}}

                    <div class="form-group col-md-2">
                        <label>Monitor <i class="icon-radarr-form-info monitor-tooltip x-monitor-tooltip"></i></label>
                        <select class="form-control col-md-2 x-monitor">
                            <option value="all">Yes</option>
                            {{!--<option value="missing">Missing</option>--}}
                            <option value="none">No</option>
                        </select>
                    </div>

		    <div class="form-group col-md-2">
		        <label>Min Availability <i class="icon-radarr-form-info minimumavailability-tooltip x-minimumavailability-tooltip"></i></label>
			<select class="form-control col-md-2 x-minimumavailability">
			    <option value="announced">Announced</option>
			    <option value="inCinemas">In Cinemas</option>
			    <option value="released">Physical/Web</option>
			    <option value="preDB">PreDB</option>
			</select>
	            </div>

                    <div class="form-group col-md-2">
                        <label>Profile</label>
                        {{> ProfileSelectionPartial profiles}}
                    </div>

                    {{!--<div class="form-group col-md-2">
                        <label>Season Folders</label>

                        <div class="input-group">
                            <label class="checkbox toggle well">
                                <input type="checkbox" class="x-season-folder"/>
                                <p>
                                    <span>Yes</span>
                                    <span>No</span>
                                </p>
                                <div class="btn btn-primary slide-button"/>
                            </label>
                        </div>
                    </div>--}}
                {{/unless}}

                {{#unless existing}}
                    {{#if title}}
                    <div class="form-group col-md-2">
                        <label style="visibility: hidden">Add</label>
                        <div class="btn-group">
                            <button class="btn btn-success add x-add" title="Add">
                                <i class="icon-radarr-add"></i>
                            </button>

                            <button class="btn btn-success add x-add-search" title="Add and Search for movie">
                                <i class="icon-radarr-search"></i>
                            </button>

                            <button class="btn btn-warning ignore x-ignore" title="Ignore this movie, so it does not show up anymore">
                                <i class="icon-radarr-ignore"></i>
                            </button>
                        </div>
                    </div>
                    {{else}}
                      <label style="visibility: hidden">Add</label>
                        <div class="col-md-2" title="Movies require an English title">
                            <button class="btn add-movies disabled">
                                Add
                            </button>
                        </div>
                    {{/if}}
                {{else}}
                  <label style="visibility: hidden">Add</label>
                    <div class="col-md-2 col-md-offset-10">
                        <a class="btn btn-default" href="{{route}}">
                            Already Exists
                        </a>
                    </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>
