{{#eachReverse items}}
    {{#with qualityDefinition}}
        {{#if selected}}
            <option value="{{id}}" selected="selected">{{title}}</option>
        {{else}}
            <option value="{{id}}">{{title}}</option>
        {{/if}}
    {{/with}}
{{/eachReverse}}
