<div class="movie-item">
    <div class="row">
        <div class="col-md-2 col-xs-3">
            <a href="{{route}}">
                {{poster}}
            </a>
        </div>
        <div class="col-md-10 col-xs-9">
            <div class="row">
                <div class="col-md-10 col-xs-10">
                    <a href="{{route}}" target="_blank">
                        <h2>{{title}}</h2>
                    </a>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="pull-right series-overview-list-actions">
                        <i class="icon-sonarr-refresh x-refresh" title="Update movie info and scan disk"/>
                        <i class="icon-sonarr-edit x-edit" title="Edit Movie"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <a href="{{route}}">
                        <div>
                            {{overview}}
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>
            <div class="row">
                <div class="col-md-8 col-xs-8">
                    <span class="label label-default">{{GetStatus}}</span>

                    {{#if inCinemas}}
                      <span class="label label-default">{{RelativeDate inCinemas}}</span>
                    {{/if}}

                    {{profile profileId}}

                    <span class="label label-{{DownloadedStatusColor}}" title="{{DownloadedQuality}}">{{DownloadedStatus}}</span>
                </div>
                <div class="col-md-4 col-xs-4">
                  <span class="movie-info-links">
                      <a href="{{traktUrl}}" class="label label-info">Trakt</a>
                      {{#if website}}
                        <a href="{{homepage}}" class="label label-info">Homepage</a>
                      {{/if}}
                      <a href="{{tmdbUrl}}" class="label label-info">The Movie DB</a>

                      {{#if imdbId}}
                          <a href="{{imdbUrl}}" class="label label-info">IMDB</a>
                      {{/if}}

                      {{#if youTubeTrailerId}}
                          <a href="{{youTubeTrailerUrl}}" class="label label-info">Trailer</a>
                      {{/if}}
                  </span>
                </div>
            </div>
        </div>
    </div>
</div>
